body {
    font-family: 'Arial', sans-serif;
    background-color: #e8f7fd;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    border: 2px solid #007bff;
}

h1 {
    font-size: 26px;
    color: #333333;
    margin-bottom: 25px;
    font-weight: bold;
}

#question-container {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid #007bff;
}

#question {
    font-size: 20px;
    color: #555555;
    margin-bottom: 15px;
}

#options {
    display: table;
    width: 100%;
    margin-top: 10px;
}

.option {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: table-row;
    width: 100%;
    text-align: center;
}

.option:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#result {
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}

#result.correct {
    background-color: #d4edda;
    color: #155724;
    border: 2px solid #c3e6cb;
}

#result.incorrect {
    background-color: #f8d7da;
    color: #721c24;
    border: 2px solid #f5c6cb;
}

#next-question {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: none;
}

#next-question:hover {
    background-color: #218838;
}

#reset-game {
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#reset-game:hover {
    background-color: #c82333;
}