body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e8f7fd;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 450px;
    transition: transform 0.3s, background-color 0.3s, border-color 0.3s;
    border: 3px solid #8fb5dd;
}

.container:hover {
    transform: scale(1.05);
    background-color: #fbf6f6;
    border-color: #f45b69;
}

h1 {
    color: #1a1a1a;
    font-size: 36px;
    margin-bottom: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.instructions {
    font-size: 22px;
    color: #424242;
    margin-bottom: 20px;
}

.question-text {
    font-size: 20px;
    font-family: Tahoma;
    color: #1a1a1a;
    margin-bottom: 15px;
}

.word-container {
    margin-bottom: 30px;
}

.word {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.letter {
    font-weight: bold;
    font-size: 26px;
    color: #1a1a1a;
    margin: 0 8px;
}

.underline {
    font-size: 24px;
    text-align: center;
    border: none;
    border-bottom: 3px solid #007bff;
    width: 30px;
    margin: 0 8px;
    color: black;
    font-weight: bold;
    outline: none;
    background-color: transparent;
    padding: 0;
    text-transform: uppercase;
}

.underline:focus {
    border-bottom-color: #17dd31;
    background-color: transparent;
    box-shadow: none;
}

.controls {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.button {
    background-color: #2472fb;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin: 10px;
}

.button:hover {
    background-color: #00b309;
    box-shadow: 0 0 10px rgba(0, 179, 9, 0.5);
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.correct-word {
    color: green;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    font-style: italic;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    h1 {
        font-size: 28px;
    }

    .instructions {
        font-size: 18px;
    }

    .question-text {
        font-size: 18px;
    }

    .letter, .underline {
        font-size: 22px;
        margin: 0 5px;
    }

    .button {
        font-size: 14px;
        padding: 8px 15px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    .instructions {
        font-size: 16px;
    }

    .question-text {
        font-size: 16px;
    }

    .letter, .underline {
        font-size: 20px;
        margin: 0 4px;
    }

    .button {
        font-size: 12px;
        padding: 6px 10px;
    }
}