/* Same as before */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0px;
  background-color: #e8f7fd;
}

.container {
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
}

.word-list {
  padding-top: 100px;
  padding-right: 20px;
  border-right: 2px solid #463baa;
}

.word-list h3 {
  color: #2e2e2e;
  font-size: 18px;
  margin-bottom: 10px;
}

.word-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.word-list li {
  background-color: #8bcbee;
  padding: 8px;
  margin-bottom: 5px;
  color: rgb(17, 16, 16);
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
}

.button-container {
  margin-top: 10px;
}

#submitBtn {
  background-color: #55e650;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

#resetBtn {
  background-color: #fc4538;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

#submitBtn:hover, #resetBtn:hover {
  background-color: #409abc;
}

#message {
  margin-top: 10px;
  font-size: 14px;
}

.puzzle-grid {
  margin-left: 20px;
}

.puzzle-grid h1 {
  color: #272626;
  font-size: 24px;
  margin-bottom: 20px;
}

#wordSearchTable {
  border-collapse: collapse;
}

#wordSearchTable td {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  background-color: #ffffff;
  border: 2px solid #558e9c;
  cursor: pointer;
  transition: background-color 0.3s;
}

#wordSearchTable td.selected {
  background-color: #6fc9ec;
  color: rgb(11, 12, 12);
}

#wordSearchTable td.found {
  background-color: #76c7c0;
  color: white;
}
